@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        
            <div class="manageitem">
                @Html.ActionLink(User.Identity.GetUserName(), "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Zalogowany" })
            </div>
            <div><a href="javascript:document.getElementById('logoutForm').submit()">Wyloguj</a></div>

    }
}
else
{   
        <div>@Html.ActionLink("Logowanie", "Login", "Account", routeValues: null, htmlAttributes: new { id = "Log", @style = "background-color:white; text-align:right; padding-right:0px; margin-right:0px; text-decoration:none;" })</div> 
}