
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Wyszukaj pracownika:</h1>

@using (Html.BeginForm("GetPerson", "Person"))
{
<label>Podaj imię:</label><input id="name" name="name" type="text" required/>
<br />
<label>Podaj nazwisko:</label><input id="surname" name="surname" type="text" required/>
<br />
<input id ="search" type="submit" value="Wyszukaj"/>
}