@model AKP.Models.Holiday
@{
    ViewBag.Title = "HolidayUpdate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Urlop pracownika @Model.person.Name @Model.person.Surname został rozliczony !</h1>

