@model AKP.Models.Holiday
@{
    ViewBag.Title = "HolidayUpdateError";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Pracownik @Model.person.Name @Model.person.Surname wykorzystał cały już urlop!</h1>

