
.icon-comment:before { content: '\e800'; } /* '' */
.icon-chat:before { content: '\e801'; } /* '' */
.icon-user-pair:before { content: '\e802'; } /* '' */
.icon-celcius:before { content: '\e803'; } /* '' */
.icon-cloud-sun:before { content: '\e804'; } /* '' */
.icon-login:before { content: '\f02c'; } /* '' */
.icon-comment-empty:before { content: '\f0e5'; } /* '' */
.icon-html5:before { content: '\f13b'; } /* '' */
.icon-graduation-cap:before { content: '\f19d'; } /* '' */
.icon-user-plus:before { content: '\f234'; } /* '' */
.icon-black-tie:before { content: '\f27e'; } /* '' */
.icon-facebook-squared:before { content: '\f308'; } /* '' */
.icon-linkedin-squared:before { content: '\f30c'; } /* '' */